<h1 class="text-center">Login</h1>
<form class="container" action="/api/session/login" method="POST">
  <h6>Email</h6>
  <input
    class="form-control form-control-sm"
    type="email"
    name="email"
    placeholder="Email"
    aria-label="Email"
  />
  <h6>Password</h6>
  <input
    class="form-control form-control-sm"
    type="password"
    name="password"
    placeholder="Password"
    aria-label="Password"
  />
  <br />
  <button type="submit" class="btn btn-secondary">Enviar</button>
  <br />
  <br />
  <button
    type="button"
    class="btn btn-primary"
    onclick="window.location.href='/register/'"
  >Regístrate</button>
  <br />
  <br />
  <button
    type="button"
    class="btn btn-warning"
    onclick="window.location.href='/restorepass/'"
  >Recupera tu contraseña</button>
  <br />
  <br />
  <button
    type="button"
    class="btn btn-warning"
    onclick="window.location.href='/api/session/github'"
  >Registro con github</button>
</form>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>